
<br />
<div class="row">
    <div class=" col-xs-offset-1 col-xs-4">
        <div class="row">
            <h1 class="col-xs-9">
                    Patients list
                    <a class="btn btn-success btn-fab  btn-add btn-xs mdi-content-add" href="javascript:void(0)" ng-click='set_current_wdw_to_add()'>
                <div class="ripple-wrapper"></div>
            </a>
            </h1>
            
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
                <div class="form-control-wrapper">
                    <input type="text" class="form-control empty" ng-model="filters" ng-change="search()" />
                    <div class="floating-label">Search</div>
                <span class="material-input"></span>
              </div>
            </div>
        </div>
        <div class="row" ng-repeat='patient in patients'>
            <div class="col-xs-offset-1 col-xs-10">
                <button ng-click="update_current(patient)" ng-class="patient.bracelet == current_patient.bracelet? 'btn btn-primary' : 'btn'" class="btn-raised col-xs-12 col-xs-offset-1">
                    {{patient.firstname}} {{patient.lastname}} <span class="bracelet">({{patient.bracelet}})</span>
                </button>
            </div>
        </div ng-repeat-end>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10" ng-hide="patients.length">No patients found</div>
        </div>
        <div class="row">
             <div class="col-xs-offset-1 col-xs-10">
                    <ul class="pager">
                        <li class="previous {{previous_state}}">
                            <a href="javascript:void(0)" ng-click='previous_page()'>← Older</a>
                        </li>
                        <li class="next {{next_state}}">
                        <a href="javascript:void(0)" ng-click="next_page()">Next →</a>
                        </li>
                    </ul>
            </div>
        </div>

    </div>
    <div ng-show="current_wdw =='view'" class=" col-xs-offset-1 col-xs-4">
        <h1>
                Patient detail
        </h1>
        <div class="row">
            <div class=" col-xs-12 panel detail panel-primary form-control-wrapper">
                <div class="panel-heading navbar">
                    <ul class="nav navbar-nav">
                        <li ng-class="current_tab == 'profile'? 'active' :'noactive'">
                            <a data-toggle="tab" href="javascript:void(0)"
                            ng-click="set_current_tab_to_profile()">
                                Profile
                                <div class="ripple-wrapper"></div>
                            </a>
                        </li>
                        <li ng-class="current_tab == 'edit'? 'active' :'noactive'">
                            <a data-toggle="tab" href="javascript:void(0)" ng-click="set_current_tab_to_edit()">
                                Edit
                                <div class="ripple-wrapper"></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <form name="form" ng-submit="update_user()">
                    <table  style="width: 250px">
                            <tr>
                                <td>
                                     <b> Firstname: </b> 
                                </td>
                                <td>
                                    <span ng-show="current_tab == 'profile'">
                                        {{current_patient.firstname}}
                                    </span>
                                    <div  ng-show="current_tab == 'edit'">
                                         <div class="form-control-wrapper">
                                            <input type="text" class="form-control" ng-model="edit_current_patient.firstname"
                                            required='' name='firstname'/>
                                        <span  ng-class="form.firstname.$error.required? 'error' : ' '"class="material-input"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <b> Lastname: </b> 
                                </td>
                                <td>
                                    <span ng-show="current_tab == 'profile'">
                                        {{current_patient.lastname}}
                                    </span>
                                    <div ng-show="current_tab == 'edit'">
                                        <div  class="form-control-wrapper">
                                            <input type="text" class="form-control" ng-model="edit_current_patient.lastname"
                                            required='' name="lastname"/>
                                        <span class="material-input"></span>
                                        </div>
                                  </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <b> Bracelet: </b> 
                                </td>
                                <td>
                                    <span ng-show="current_tab == 'profile'">
                                        {{current_patient.bracelet}}
                                    </span>
                                    <div ng-show="current_tab == 'edit'" >
                                        <div class="form-control-wrapper">
                                            <input type="text" class="form-control" ng-model="edit_current_patient.bracelet" name="bracelet"/>
                                        <span class="material-input"></span>
                                      </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <b> Age: </b> 
                                </td>
                                <td>
                                    <span ng-show="current_tab == 'profile'">
                                        {{current_patient.age}}
                                    </span>
                                    <div  ng-show="current_tab == 'edit'">
                                        <div class="form-control-wrapper">
                                            <input type="text" class="form-control" ng-model="edit_current_patient.age" required='' name="age"/>
                                        <span class="material-input"></span>
                                      </div>
                                  </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <b> Weight: </b> 
                                </td>
                                <td>
                                    <span ng-show="current_tab == 'profile'">
                                        {{current_patient.weight}} Kg
                                    </span>
                                    <div ng-show="current_tab == 'edit'">
                                        <div class="form-control-wrapper">
                                            <input type="text" class="form-control" ng-model="edit_current_patient.weight" required=''name="weight"/>
                                        <span class="material-input"></span>
                                      </div>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="current_tab == 'profile'">
                                <td>
                                     <b> Daily consuption: </b> 
                                </td>
                                <td>
                                    <span>
                                        {{current_patient.min_consuption_day}} L
                                    </span>

                                </td>
                            </tr>
                            <tr ng-show="current_tab == 'edit'">
                                <td colspan=2 class="td-center">
                                     <input type="submit" class="btn btn-xs btn-primary" 
                                     value="Save"
                                     />
                                </td>
                            </tr>

                            <tr ng-show="current_tab == 'profile'">
                                <td>
                                    <b> More: </b>
                                </td>
                                <td  class="">
                                    <a ng-click="open_graph()" class="btn btn-info btn-fab  btn-tab btn-xs mdi-maps-local-drink" href="javascript:void(0)">
                                        <div class="ripple-wrapper"></div>
                                    </a>
                                
                                <a class="btn btn-warning btn-fab  btn-tab btn-xs mdi-action-report-problem" href="javascript:void(0)">
                                        <div class="ripple-wrapper"></div>
                                    </a>
                                </td>
                            </tr>
                    </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="current_wdw =='add'" class=" col-xs-offset-1 col-xs-4">
            <h1>
                New Patient
            </h1>
        <div class="row">
            <div class=" col-xs-12 panel detail panel-primary form-control-wrapper">
                 <div class="panel-heading navbar">
                </div>
                <div class="panel-body">
                    <form name="form" ng-submit="add_patient()">
                    <table  style="width: 250px">
                            <tr>
                                <td>
                                     <b> Firstname: </b> 
                                </td>
                                <td>
                                     <div class="form-control-wrapper">
                                        <input type="text" class="form-control" ng-model="add_patient.firstname"
                                        required='' name='firstname'/>
                                    <span  ng-class="form.firstname.$error.required? 'error' : ' '"class="material-input"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <b> Lastname: </b> 
                                </td>
                                <td>
                                     <div class="form-control-wrapper">
                                        <input type="text" class="form-control" ng-model="add_patient.lastname"
                                        required=''
                                        name="lastname"/>
                                        <span  ng-class="form.lastname.$error.required? 'error' : ' '"class="material-input"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <b> Bracelet: </b> 
                                </td>
                                <td>
                                     <div class="form-control-wrapper">
                                        <input type="text" class="form-control" ng-model="add_patient.bracelet"
                                        name="bracelet"/>
                                    </div>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <b> Age: </b> 
                                </td>
                                <td>
                                     <div class="form-control-wrapper">
                                        <input type="text" class="form-control" ng-model="add_patient.age"
                                        required='' 
                                        name="age"/>
                                        <span  ng-class="form.age.$error.required? 'error' : ' '"class="material-input"></span>
                                    </div>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <b> Weight: </b> 
                                </td>
                                <td>
                                     <div class="form-control-wrapper">
                                        <input type="text" class="form-control" ng-model="add_patient.weight"
                                        required='' 
                                        name="weight"/>
                                        <span  ng-class="form.weight.$error.required? 'error' : ' '"class="material-input"></span>
                                    </div>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td colspan=2 class="td-center">
                                     <input type="submit" class="btn btn-xs btn-primary" 
                                     value="Save"
                                     />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
        </div>
    </div>
</div>
